@model IEnumerable<PruebaBestfacar.Models.Usuarios>

@{
    ViewBag.Tittle = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .btn-link {
            color: blue;
            text-decoration: underline;
            margin-right: 5px;
        }

        .btn-create-new {
            display: inline-block;
            padding: 10px 20px;
            background-color: black;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

            .btn-create-new:hover {
                background-color: whitesmoke;
            }

        .btn-edit {
            display: inline-block;
            padding: 5px 10px;
            background-color: green;
            color: black;
            text-decoration: white;
            border-radius: 4px;
            transition: background-color 0.3s;
        }


        .btn-details {
            display: inline-block;
            padding: 5px 10px;
            background-color: dodgerblue;
            color: black;
            text-decoration: none;
            border-radius: 4px;
        }

        .btn-delete {
            display: inline-block;
            padding: 5px 10px;
            background-color: indianred;
            color: black;
            text-decoration: none;
            border-radius: 4px;
        }

    </style>
</head>
<body>

    <h1>Usuarios Registrados</h1>
    <br />
    <p>
        @Html.ActionLink("Registrar Nuevo Usuario", "Create",null, new { @class = "btn-create-new" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RolUsuario.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRol)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RolUsuario.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRol)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.UsuarioID }, new { @class = "btn-edit" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.UsuarioID }, new { @class = "btn-details" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.UsuarioID }, new { @class = "btn-delete" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
