@model PruebaBestfacar.Models.Calificacion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Calificacion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Vehiculo.Marca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Vehiculo.Marca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.proteccionFrontal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.proteccionFrontal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.proteccionLateral)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.proteccionLateral)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.proteccionInfantil)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.proteccionInfantil)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sistemasSeguridad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sistemasSeguridad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.proteccionPeaton)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.proteccionPeaton)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.equipamiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.equipamiento)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.calificacionID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
